.themeWrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.themeIcons {
    font-size: 30px;
    animation-name: appear;
    animation-duration: 1s;
}

@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
}

.themeIcons:hover {
    cursor: pointer;
}

html[data-theme='dark'] {
    --backgroundColour: black;
    --normalFontColor: white;
    --scrollBarColour: #fc9e05;
    animation-name: appear;
    animation-duration: 1s;
}

