.componentWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--maxWidth);
    /*min-width: var(--minWidth);*/
    height: 100vh;
    max-height: var(--maxHeight);
    min-height: var(--minHeight);
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .componentWrapper {
      height: 100%;
    }
}
