.nameWrapper{
    grid-row-start: 1;
    grid-row-end: 2;
}

.bodyWrapper {
    display: grid;
    grid-template-rows: 50% 50%;
}

.greetingWrapper {
    font-size: 100px;
}

.boldName {
    background-color: var(--primaryColour);
    font-size: 100px;
}

.title {
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 30px;
}

.introWrapper {
    width: 50%;
    height: 100%;
    max-width: var(calc(--maxWidth / 2));
    min-width: var(calc(--minWidth / 2));
    display: flex;
    align-items: center;
    justify-content: center;
}
