.portraitWrapper {
    width: 50%;
    height: 100%;
    max-width: var(calc(--maxWidth / 2));
    min-width: var(calc(--minWidth / 2));
    display: flex;
    align-items: center;
    justify-content: center;
}