.aboutmeWrapper {
    background-color: var(--primaryColour);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 50px;
}

.aboutme {
    font-size: var(--headerFontSize)
}