.aboutmeWrapper {
    flex:50%;
    height: 100%;
    background-color: var(--primaryColour);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 60px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
}

.aboutme {
    font-size: var(--headerFontSize)
}

.aboutmeHeaders {
    padding-top: 20px;
    padding-bottom: 20px ;
    width: 100%;
    text-align: left;
    font-weight: normal;
}

.skillsWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}


@media only screen and (max-width: 768px) {
    .aboutmeWrapper {
        flex:100%;
        min-width: 20px;
        padding: 20px;
    }
}