.educationWrapper {
    flex:50%;
    height: 100%;
    padding: 60px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
}

@media only screen and (max-width: 768px) {
    .educationWrapper {
        flex:100%;
        padding: 20px;
    }
}
