.skillsWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}

.skillWrapper {
    padding: 5px 10px;
    background-color: var(--greyAccent);
    border-radius: 10px;
}
