.softwareWrapper {
    display: grid;
    grid-template-rows: 20% 80%;
}

.softwareList {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    grid-row-start: 2;
    grid-row-end: 3;

}

.softWareItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}