.modalBackDrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.modal {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-height: 100vh;
    z-index: 100;
}