.appWrapper {
    background-color: white;
}

.helloWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--maxWidth);
    height: 100vh;
    max-height: var(--maxHeight);
    min-height: var(--minHeight);
    margin-left: auto;
    margin-right: auto;
}

.componentWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--maxWidth);
    height: 100%;
    max-height: var(--maxHeight);
    min-height: var(--minHeight);
    margin-left: auto;
    margin-right: auto;
}

.sectionHeader {
    width: 100%;
    font-size: var(--headerFontSize);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .componentWrapper {
        display: flex;
        flex-wrap: wrap;
        max-height: none;
    }
}

@media only screen and (max-width: 768px) {
    .helloWrapper {
        height: 100%;
    }
}

