.sudokuWrapper {
    margin-left: auto;
    margin-right: auto;
}

.sudokuGameBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.tabsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tab {
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.tab:hover {
    cursor: pointer;
}