:root {
    --primaryColour: #87CEEB;
    --backgroundColour: white;
    --maxWidth: 1900px;
    --minWidth: 768px;
    --maxHeight: 1200px;
    --minHeight: 500px;
    --headerFontSize: 60px;
    --greyAccent : #c7d0d8;
    --normalFontColor: #000000;
    --scrollBarColour: green;
    /*access using var(--name)*/
}

::-webkit-scrollbar {
    display: none;
}
