:root {
    --primaryColour: #ddff8f;
    --maxWidth: 1400px;
    --minWidth: 768px;
    --maxHeight: 1000px;
    --minHeight: 500px;
    --headerFontSize: 60px;
    --greyAccent : #c7d0d8;
    /*access using var(--name)*/
}
